<!Doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %}Your Page Title{% endblock %}</title>
       
</head>
<body>
    <a href="{% url 'logout' %}">Logout</a>
    <a href="{% url 'register' %}">Register</a>
    <a href="{% url 'boards' %}">Board</a>
    <a href="{% url 'messages' %}">Messages</a>
    <a href="{% url 'board_members' %}">Board Members</a>
    
    <header>
        
        <h1>{% block header %}Header Content{% endblock %}</h1>
       
    </header>
    <main>
       
        {% block content %}Add Content{% endblock %}

    </main>
</body>
</html>