{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block header %} <center>Homepage</center> {% endblock %}

{% block content %}
<style> 
    .board-window   {
        width: 70%;
        height: 70vh;
        float: left;
        margin-left: 30px;
        border: 5px solid #ccc;
        padding: 10px;
        overflow: auto; 
        scrollbar-width: none; 
        -ms-overflow-style: none; 
    }
    .board-window::-webkit-scrollbar{
        width: 0;
        display: none;
    }

    .board-section {
        width: 28%;
        height: 25vh;
        float: left;
        margin-left: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
        border: 5px solid #ccc;
        padding: 10px;
        overflow: auto; 
        scrollbar-width: none; 
        -ms-overflow-style: none; 
    }
    .board-section::-webkit-scrollbar{
        width: 0;
        display: none;
    }

    .users-window {
        width: 23%;
        height: 70vh;
        float: right;
        margin-right: 30px;
        border: 5px solid #ccc;
        padding: 10px;
        overflow: auto; 
        scrollbar-width: none; 
        -ms-overflow-style: none; 
    }

    .users-window::-webkit-scrollbar{
        width: 0;
        display: none;
    }
    
    .window-section {
        width: 80%;
        height: 10vh;
        float: left;
        margin-left: 25px;
        margin-top: 10px;
        margin-bottom: 10px;
        border: 5px solid #ccc;
        padding: 10px;
    }
</style>
<center>
    <div>
        <strong>Welcome {{ user.username }}! Remember to stay hydrated.</strong><br/>

            <div class='board-window'>                
                    {% for user_profile in board_users %}
                        <div class='board-section'>
                            <center> {{ user_profile.user }} </center>
                            <ul>
                                {% for message in user_messages %}
                                    {% if message.author == user_profile.user %}    
                                
                                        <li>{{message.content}}</li>
                                    
                                    {% endif %}
                                {%endfor%}
                            </ul>
                        </div>
                    {% endfor %}                                        
            
            </div>
            <div class='users-window'>
                <center><h3>Members</h3></center>
                <ul>
                    {% for user_profile in board_users %}
                        <div class='window-section'>
                            <center>{{user_profile.user.username}}</center>
                        </div>
                    {% endfor %}
                </ul>    
                <!-- list the users of board-->
            </div>
            <div>
                <form method='POST' action='{% url 'post_message' %}'>
                    {% csrf_token %}
                    <textarea name='message' rows='4' cols='50' placeholder='Update the Team...'></textarea><br/>
                    <input type='submit' value='Update'>
                </form>
            </div>   
    </div>
</center>
{% endblock %}